.cards__button-like {
    width: 22px;
    height: 19px;
    border: none;
    margin: 0;
    background-color: #fff;
    background-image: url(../../../images/Like.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 0.5s linear;
}

@media screen and (min-width: 1024px) {
    .cards__button-like {
        cursor: pointer;
    }
    .cards__button-like:hover {
        opacity: 0.5;
    }
}