.profile__photo {
    width: 120px;
    margin: 0 auto;
    border-radius: 50%;
    grid-column: 1/-1;
    grid-row: 1;
}

@media screen and (min-width: 768px) {
    .profile__photo {
        grid-column: 1;
        grid-row: 1/-1;
        margin-right: 30px;
    }
}