.cards__description {
    width: 100%;
    min-height: 79px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-left: 21px;
    padding-right: 20px;
    padding-bottom: 22px;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}